<footer class="footer">
    <div class="footer-content">
        <p>Turtle Shelter Project, PO Box 382, Kaysville, UT 84037</p>
        <p>Phone: 801-872-3190</p>
        <p>Email: <a href="mailto:turtleshelterproject@gmail.com">turtleshelterproject@gmail.com</a></p>
    </div>
  </footer>