<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turtle Shelter Project</title>
    <link rel="stylesheet" href="/styles/landing.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
      <nav class="navbar">
        <a href="/" class="logo"><img src="/images/logo.png" alt="Logo"></a>
        <a href="/" class="big-name">Turtle Shelter Project</a>
          <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/story">Jen's Story</a></li>
            <li class="dropdown">
              <a href="/about" class="dropdown-toggle">About Us</a>
              <ul class="dropdown-menu">
                <!-- Add links to the dropdown menu -->
                <li><a href="/about/about">Our Team</a></li>
                <li><a href="/about/about">Our Mission</a></li>
                <li><a href="/about/about">Contact Us</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="/youhelp" class="dropdown-toggle">Get Involved</a>
              <ul class="dropdown-menu youhelp-dropdown">
                <!-- Add links to the dropdown menu -->
                <li><a href="/youhelp/donate">Donate</a></li>
                <li><a href="/youhelp/eventrequest">Request an Event</a></li>
                <li><a href="/youhelp/volunteer">Volunteer</a></li>
                <li><a href="/youhelp/youhelp">Other Ways to Help</a></li>
              </ul>
            </li>
            <!-- RUNNING COUNT OF DISTRIBUTED VESTS????? -->
          </ul>
      </nav>
    </header>
    <main class="intro">
        <h1>Welcome to the Turtle Shelter Project</h1>
        <h2>Providing Life-Saving Warmth to People Suffering From Homelessness</h2>
        <ul class="intro-buttons">
            <li><a href="/donate"><button>Donate Now</button></a></li>
            <li><a href="/youhelp"><button>Other Ways to Help</button></a></li>
        </ul>
    </main>
    <script src="/scripts/script.js"></script>
</body>
</html>
