<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turtle Shelter Project</title>
    <link rel="icon"  type="image/png" href="/images/logo.png">
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav class="navbar">
      <a href="/" class="logo"><img src="/images/logo.png" alt="Logo"></a>
      <a href="/" class="big-name">TURTLE SHELTER PROJECT</a>
        <ul class="nav-links">
          <li><a href="/">HOME</a></li>
          <li><a href="/story">JEN'S STORY</a></li>
          <li class="dropdown">
            <a href="/about/homeless_cold" class="dropdown-toggle">ABOUT US</a>
            <ul class="dropdown-menu">
              <!-- Add links to the dropdown menu -->
              <li><a href="/about/homeless_cold">HOMELESSNESS & HYPOTHERMIA</a></li>
              <li><a href="/about/directors">BOARD OF DIRECTORS</a></li>
              <li><a href="/about/vest_tech">THE TURTLE SHELTER VEST</a></li>
              <li><a href="/about/faqs">FAQs</a></li>
              <li><a href="/about/contact">CONTACT</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="/youhelp" class="dropdown-toggle">GET INVOLVED</a>
            <ul class="dropdown-menu youhelp-dropdown">
              <!-- Add links to the dropdown menu -->
              <li><a href="/youhelp/donate">DONATE</a></li>
              <li><a href="/youhelp/eventrequest">REQUEST AN EVENT</a></li>
              <li><a href="/youhelp/volunteer">VOLUNTEER</a></li>
              <li><a href="/youhelp/sponsor">BECOME A SPONSOR OR PARTNER</a></li>
              <li><a href="/youhelp/youhelp">OTHER WAYS TO HELP</a></li>
            </ul>
          </li>
        </ul>
    </nav>
  </header>
    <main class="intro">
        <h2>Helping to save lives of people experiencing homelessness</h2>
        <h1>STARTS WITH YOU</h1><br>
        <ul class="intro-buttons">
            <li><a href="/youhelp/donate"><button>DONATE NOW</button></a></li>
            <li><a href="/youhelp"><button>LEARN MORE</button></a></li>
        </ul>
    </main>
    <script src="/scripts/script.js"></script>
</body>
</html>
