<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turtle Shelter Project</title>
    <link rel="stylesheet" href="/styles/landing.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
      <nav class="navbar">
        <a href="/" class="logo"><img src="/images/logo.png" alt="Logo"></a>
        <a href="/" class="big-name">Turtle Shelter Project</a>
          <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/story">Jen's Story</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/youhelp">How You Can Help</a></li>
            <li><a href="/eventrequest">Request an Event</a></li>
            <li><a href="/donate">Donate</a></li>
          </ul>
      </nav>
    </header>
    <main class="intro">
        <h1>Welcome to the Turtle Shelter Project</h1>
        <ul class="intro-buttons">
            <li><a href="/donate"><button>Donate to the Project</button></a></li>
            <li><a href="/youhelp"><button>Other Ways to Help</button></a></li>
        </ul>
    </main>
    <script src="/scripts/script.js"></script>
</body>
</html>
