<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turtle Shelter Project</title>
    <link rel="icon"  type="image/png" href="/images/logo.png">
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
      <%- include('partials/navbar.ejs') %>
    </header>
    <main class="intro">
        <h2>Helping to save lives of people experiencing homelessness</h2>
        <h1>STARTS WITH YOU</h1><br>
        <ul class="intro-buttons">
            <li><a href="/youhelp/donate"><button>DONATE NOW</button></a></li>
            <li><a href="/youhelp"><button>LEARN MORE</button></a></li>
        </ul>
    </main>
    <script src="/scripts/script.js"></script>
</body>
</html>
