<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>More Way to Help - TSP</title>
  <link rel="icon"  type="image/png" href="/images/logo.png">
  <link rel="stylesheet" href="/styles/general.css">
  <link rel="stylesheet" href="/styles/linkingpage.css"></link>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <%- include('partials/navbar.ejs') %>
  </header>
  <div class="sidebar">
    <ul>
      <li><a href="/youhelp/donate">Donate</a></li>
      <li><a href="/youhelp/eventrequest">Request an Event</a></li>
      <li><a href="/youhelp/volunteer">Volunteer</a></li>
      <li><a href="/youhelp/sponsor">Become a Sponsor or Partner</a></li>
      <li><a href="/youhelp/youhelp">Other Ways to Help</a></li>
    </ul>
  </div>
  <main>
    <div>
      <h1>Every Person Can Serve</h1>
    </div>
  </main>
</body>
</html>
