<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add User</title>
</head>
<body>
  <h1>Add User</h1>

  <form action="/adduser" method="POST">
    <!-- First Name Field -->
    <div>
      <label for="user_first_name">First Name:</label>
      <input type="text" name="user_first_name" oninput="this.value = this.value.toUpperCase()" require>
    </div>

    <!-- Last Name Field -->
    <div>
      <label for="user_last_name">Last Name:</label>
      <input type="text" name="user_last_name" oninput="this.value = this.value.toUpperCase()" require>
    </div>

    <!-- Username Field -->
    <div>
      <label for="username">Username:</label>
      <input type="text" name="username" require>
    </div>

    <!-- Password Field -->
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" require>
    </div>

    <button type="submit">Add</button>
  </form>
</body>
</html>