<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Homelessness & Hypothermia - TSP</title>
      <link rel="icon"  type="image/png" href="/images/logo.png">
      <link rel="stylesheet" href="/styles/general.css">
      <link rel="stylesheet" href="/styles/linkingpage.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
          <%- include('../partials/navbar.ejs') %>
        </header>
        <%- include('../partials/ab_sidebar.ejs') %>
  <main>
    <h1>WHAT IS THE TURTLE SHELTER PROJECT?</h1>
    <div>
      <p>Turtle Shelter vests are high tech but simple solution to help save lives and alleviate suffering. They are portable "shelter" you can carry with you, just like a turtle... and YOU can help!</p>
      <img class="images" src="/images/handout.jpg" alt="turtle shelter vests">
      <p>One winter when Jen was homeless, 7 of her friends froze to death.</p>  
      <p>Jen is no longer homeless and has figured out a solution:</p>
      <p>High tech foam vests that are inexpensive,</p>
      <p>keep a person warm to 10 degrees below zero, help SAVE lives and alleviate suffering.</p>
      <p>YOU can request vests for your community - and you can make vests and have your friends, business colleagues, church members or club make vests, too!</p>
    </div>
    <br><br><br><br><br><br><br><br>
  </main>
  <%- include('../partials/footer.ejs') %>
</body>
</html>