<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Contact Us - TSP</title>
      <link rel="icon"  type="image/png" href="/images/logo.png">
      <link rel="stylesheet" href="/styles/general.css">
      <link rel="stylesheet" href="/styles/linkingpage.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
      <%- include('../partials/navbar.ejs') %>
    </header>
    <%- include('../partials/ab_sidebar.ejs') %>
    <main>
      <div>
        <h1>Contact Us</h1>
        <ul class="contact-list">
          <li><strong>Address:</strong> PO Box 382, Kaysville, UT 84037</li>
          <li><strong>Phone:</strong> 801-872-3190</li>
          <li><strong>Email:</strong> <a href="mailto:turtleshelterproject@gmail.com">turtleshelterproject@gmail.com</a></li>
        </ul>
      </div>
    </main>
</body>
</html>

<!--Turtle Shelter Project, PO Box 382, Kaysville, UT 84037801-872-3190turtleshelterproject@gmail.com-->