<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Homelessness & Hypothermia - TSP</title>
      <link rel="icon"  type="image/png" href="/images/logo.png">
      <link rel="stylesheet" href="/styles/general.css">
      <link rel="stylesheet" href="/styles/linkingpage.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
      <%- include('../partials/navbar.ejs') %>
    </header>
    <%- include('../partials/ab_sidebar.ejs') %>
  <main>
    <div>
      <h1>Homelessness & Hypothermia</h1>
      <img class="images" src="/images/NCH-Winter-Emergency-Shelters.png" alt="Winter Emergency Shelter Facts"><img class="small" src="/images/nhchc-184@2x.png" alt="nhchc"><img class="small" src="/images/homelesslogo2.png" alt="ncfth">
      <p>Each year, as winter approaches and the temperature begins to drop, many homeless people move from the streets to their city’s shelter system to escape the cold. However, few communities have city-wide cold-weather response plans, and many of the plans currently in place leave gaping holes in accessibility.</p>
      <p>In rural areas, shelters often have no outside resources to help them cope with the increased demand caused by cold weather conditions. Many shelters or cities offer expanded winter services only during certain months or only when the temperature falls below a pre-determined and arbitrary cut-off temperature. Above those cut-offs (hypothermia can occur in weather as warm as 50 degrees Fahrenheit) many cities do not offer resources to help the homeless people escape from the cold.</p>
      <p>Without a carefully constructed winter plan, homeless service facilities may find themselves unable to accommodate the influx of residents, and some of those people who seek shelter are turned out into the cold. With nowhere to stay except the streets, people experiencing homelessness have a much higher risk than the general population of developing exposure-related conditions such as hypothermia and frostbite. These conditions can be immediately life threatening and may also increase the risk of dying from unrelated conditions in the future. Increased homeless services, especially additional shelter availability, are necessary to accommodate the amplified need in the winter.</p>
      <p>From the Dangers of Cold Weather from the National Coalition for the Homeless</p>
      <p>Read the full report, Winter Homeless Services: Bringing Our Neighbors in from the Cold from the National Coalition for the Homeless.</p>
      <p>From the National Health Care for the Homeless Council, Cold-Related Injuries.</p>
    </div>
  </main>
</body>
</html>