<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Vest Tech - TSP</title>
      <link rel="icon"  type="image/png" href="/images/logo.png">
      <link rel="stylesheet" href="/styles/general.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
          <nav class="navbar">
            <a href="/" class="logo"><img src="/images/logo.png" alt="Logo"></a>
            <a href="/" class="big-name">Turtle Shelter Project</a>
              <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/story">Jen's Story</a></li>
                <li class="dropdown">
                  <a href="/about" class="dropdown-toggle">About Us</a>
                  <ul class="dropdown-menu">
                    <!-- Add links to the dropdown menu -->
                    <li><a href="/about/homeless_cold">Homelessness & Hypothermia</a></li>
                    <li><a href="/about/directors">Board of Directors</a></li>
                    <li><a href="/about/vest_tech">The Turtle Shelter Vest</a></li>
                    <li><a href="/about/faqs">FAQs</a></li>
                    <li><a href="/about/contact">Contact Us</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="/youhelp" class="dropdown-toggle">Get Involved</a>
                  <ul class="dropdown-menu youhelp-dropdown">
                    <!-- Add links to the dropdown menu -->
                    <li><a href="/youhelp/donate">Donate</a></li>
                    <li><a href="/youhelp/eventrequest">Request an Event</a></li>
                    <li><a href="/youhelp/volunteer">Volunteer</a></li>
                    <li><a href="/youhelp/sponsor">Become a Sponsor or Partner</a></li>
                    <li><a href="/youhelp/youhelp">Other Ways to Help</a></li>
                  </ul>
                </li>
              </ul>
          </nav>
        </header>
</body>
</html>