.story {
  font-family: 'Montserrat', serif;
  font-size: 18px;
  line-height: 1.5;
  position: relative;
}

.story h1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/jenstory.jpg'); /* replace with your image URL */
    background-size: cover;
    background-position: top center;
    padding: 200px;
    text-align: center;
    color: #fff;
  }

.story h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    font-style: italic;
}

.story img {
  float: left;
  margin: 10px;
  padding-left: 5%;
  padding-right: 2%;
  width: 300px; /* adjust the width as needed */
  height: auto;
}

.story p {
    font-family: 'Merriweather', serif;
    padding-left: 5%;
    padding-right: 5%;
}